 body {
      font: 16px Montserrat, sans-serif;
      line-height: 1.8;
      color: #2f2f2f;
  }

  a {
    color: #2f2f2f;
    text-decoration: none;
  }

  a:hover {
    color: #9988ff;
    text-decoration: none;
  }

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}

  .jumbotron {
    background-color: #2f2f2f;
    color: #fff;
    text-align: center;
    letter-spacing: 6px;
    font: Open-Sans;
  }
  .container {
      padding-bottom: 70px;
  }
  .nav {
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 16px;
      letter-spacing: 5px;
  }

.list-group {
  color: #2f2f2f;
}

a[aria-expanded="true"] {
  text-decoration: none;
  color: #9988ff;
}
a[aria-expanded="false"] {
  text-decoration: none;
  color: #2f2f2f;
}

.open .dropdown-toggle {
    color: #9988ff;
    border-style: none;
}

.dropdown-menu li a:hover {
    color: #9988ff;
    background-color: none;
}
