/* index.css */
body{
	background-color: #FFFF66;
	background-image: url('lights.jpg');
}
h1 {
	/* font */
	font-family: Century Gothic;
	font-size: 65px;
	font-weight: 100;
	text-align: center;
	/* dimensions */
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding: 7px;
	/* colors */
	background-color: white;
	color: #FF6600;
	border-style: double;
	border-color: #FFFF66;
	opacity: .8;
}

div {
	/* dimensions */
	position: center;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 383px;
	padding: 6px;
	/* colors */
	background-color: white;
	border-style: double;
	border-color: #FFFF66;

}

p {
	/* font */
	font-family: Century Gothic;
	font-size: 20px;
	text-align: center;
	/* dimensions */
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	padding: 10px;
	/* colors */
	background-color: white;
	border-style: double;
	border-color: #FFFF00;
	opacity: .8;

}

a {
	text-decoration: none;
	color: #FF6600;
}

a:hover {
	font-weight: 600;
	color: #99cc00;
}

#bio {

	padding-right: 50px;

}

#resume {

	padding-left: 50px;
}



