html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Century Gothic;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}


/* Header */
.header {
  height: 300px;
  text-align: center; 
  background: url("lights.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
	margin-right: -35px;
}

.header .container {
	position: relative;
	top: 100px;
}

.header h2 {
	font-size: 88px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
  color: white;
}

.header h5 {
	font-size:36px;
	position: relative;
	top: -80px;
	color: white;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
  color: white;
}

.btn {
  background-color:black;
  color: white;
  text-decoration:none;
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.btn a {
  color: white;
  text-decoration:none;
}
  

.btn:hover {
	background: #fff;
	cursor: pointer; 
	transition: background .5s;  
	padding-top:32px;
	padding-bottom:31px;
	opacity: 80%;
	color:black;
}


/* Nav */
.nav {
  background-color: black;
  width: auto;
}

.nav ul {
	list-style: none;
	margin: 0 auto; 
	padding: 30px 0;
	text-align: center; 
  
}

.nav li {
  display: inline;
  padding-top:30px;
  padding-bottom:30px;
}


/* Main */
.main .container {
	margin-top: 80px;
	text-align: center;
	font-size: 24px;
}

img {
  height:120px;
  width: auto;
	border-radius:80%;
}

#here {
	background: #fff;
	color: black;
	padding-top:32px;
	padding-bottom:32px;
	margin-left: -5px;
	margin-right: -5px;
}
